{% extends 'base.html' %}

{% load static %}

{% block title %}
Cart title
{% endblock %}

{% block content %}
    <div class="text-center">
        <br>
        <h2 class="text-center">Shopping cart</h2>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4">Your items</th>
                    </tr>
                </thead>
                {% for i in '123' %}
                <tr>
                    <td>
                        <a href="#"><img width="100px" height="100px" src="{% static 'lego.png' %}"></a>
                    </td>
                    <td class="text-left">
                        Lego<br>
                        SKU: 7<br>
                        Unit price: $9.99<br>
                        Q-ty: 3
                    </td>
                    <td>
                        $30
                    </td>
                    <td>
                        <a href=""><i class="material-icons">add_shopping_cart</i></a>
                        <a href=""><i class="material-icons">remove</i></a>
                        <a href=""><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th colspan="4">Checkout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>
                            Please check your cart before payment
                        </td>
                    </tr>
                    <tr class="text-left">
                        <td>
                            Total bill: 60$
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mx-auto w-50">
                <a href="">
                    <button type="button" class="btn btn-lg btn-block bg-dark text-white">Back to products</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
